#logo {
	float: left;
	position: fixed;
	width: 42px;
	height: 42px;
}

body {
	font-family: "Arial", "Verdana", "Sans";
	background-color: #E0E0E0;
}

.LeftSidebar{
	float: left;
	width: 20%;
	font-family: Arial;
	color: #004D40;
}

.RightSidebar{
	float: right;
	font-family: Arial;
	width: 25%;
}

h1 {
	font-family: Arial;
	color: #009688;
	text-align: center;
}

h3 {
	text-align: center;
}

#AboutMeIntro {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
}

.portfolio{
	margin: 0;
	padding: 0;
	text-align: center;
}

.CSSpics {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

#calculator {
	width: 30%;

}

form {
	display: block;
	text-align: center;
}

a:link {
	text-decoration: none;
	color: black;
}


